<div class="container">

  <div class="row-justify-content-center">

    <div class="col-md-8">
    <%= simple_form_for (@article) do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>

    <p>Here u can add multiply photos</p>

      <%= f.input :pictures, as: :file, input_html: { multiple: true } %>


    <%= f.submit "create and article", class: "btn btn-primary" %>
  <% end %>

    </div>
  </div>
</div>
