<div class="container">
  <h1>Have a look at our articles</h1>
  <div class="row">
    <% @articles.each do |article| %>
    <div class="col-12 col-md-6 col-lg-3">
        <h1><%= link_to article.title, article_path(article) %></h1>
        <p><%= article.description %></p>
        <% if policy(article).create? %>
        <%= link_to "New article", new_article_path %>
        <% end %>
        <% if policy(article).update? %>
        <%= link_to "Update article", edit_article_path(article) %>
        <% end %>

       <p>Created by:<%= article.user.email %></p>

    </div>
    <% end %>
  </div>

</div>



<div class="row">
    <div class="col">
      <% if @query %>
        <p>You searched for <strong><%= @query %></strong>. We found <%= @articles.count %> articles out of our <%= Article.count %> on our website.</p>
      <% else %>
        <p>All <%= Article.count %> articles.</p>
      <% end %>
    </div>
  </div>

